---
layout: page
title: Publications
permalink: /publications/
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">Publications</h2>
      </div>
    </div>

    <div class="row">
      {% assign pubs = site.data.publications | sort: 'year' | reverse %}
      {% for item in pubs %}
      <div class="col-md-12 mb-4">
        <div class="p-4 shadow rounded bg-white d-flex">

          {% if item.icon %}
         <img src="{{ site.baseurl }}/{{ item.icon }}" alt="Paper" style="height: 100px; width: auto;" class="mr-3 rounded shadow-sm">
          {% endif %}

          <div>
            <h5 class="mb-1 font-weight-bold">{{ item.title }}</h5>
            <p class="mb-1">{{ item.authors }}</p>
            <p class="mb-1"><em>{{ item.venue }}</em>, <strong>{{ item.year }}</strong></p>

            {% if item.type %}
            <p class="mb-1 text-muted text-capitalize">Type: {{ item.type }}</p>
            {% endif %}

            {% if item.note %}
            <p class="mb-2">
              <span class="badge badge-warning">{{ item.note }}</span>
            </p>
            {% endif %}

            {% if item.link %}
            <a href="{{ item.link }}" target="_blank" class="btn btn-sm btn-outline-primary">View Paper</a>
            {% endif %}
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
