.navigation {
  padding: 20px 100px; // ⬅ 기본 크기 줄임
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: transparent;

  &.nav-bg {
    background-color: rgba(33, 37, 41, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 80px; // ⬅ 스크롤 시 더 컴팩트하게
    @include desktop {
      padding: 10px 16px;
    }
  }

  @include desktop {
    padding: 16px;
    background-color: transparent;
  }
}


.navbar {
  .nav-item {
    .nav-link {
      font-family: $secondary-font;
      text-transform: uppercase;
      padding: 15px;
    }

    &.active {
      font-weight: bold;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}
