<footer class="bg-dark footer-section" style="margin-top: 0;">
  <div class="py-2" style="padding-top: 0.1rem; padding-bottom: 0.5rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.phone }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-2" style="padding-top: 0.1rem; padding-bottom: 0.5rem;">
    <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
  </div>
</footer>
