<div class="row">
  <!-- Ph.D. Students -->
  <div class="col-12">
    <h4 class="mb-4">Ph.D. Students</h4>
  </div>
  
  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/phd_sample.png" alt="Student" class="rounded-circle mb-3" width="120">
    <h5>Under Reqruitment</h5>
    <p>Ph.D. Student</p>
  </div>

  <!-- Master's Students -->
  <div class="col-12 mt-5">
    <h4 class="mb-4">Master's Students</h4>
  </div>

  <div class="col-md-4 text-center mb-4">
<!--     <img src="{{ site.baseurl }}/assets/images/team/master_sample.png" alt="Student" class="rounded-circle mb-3" width="120"> -->
    <h5>Under Reqruitment</h5>
    <p>Master's Student</p>
  </div>

  <!-- Undergraduate Researchers -->
  <div class="col-12 mt-5">
    <h4 class="mb-4">Undergraduate Students</h4>
  </div>

  <div class="col-md-4 text-center mb-4">
<!--     <img src="{{ site.baseurl }}/assets/images/team/undergraduate_sample.png" alt="Student" class="rounded-circle mb-3" width="120"> -->
    <h5>Under Reqruitment</h5>
    <p>Undergraduate Researcher</p>
  </div>
</div>
