<div class="row">
  <!-- Ph.D. Students -->
  <div class="col-12">
    <h4 class="mb-4">Ph.D. Students</h4>
  </div>
  
  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/phd_sample.png" alt="Student" class="rounded-circle mb-3" width="150">
    <h5>Under Recruitment</h5>
    <p>Ph.D. Student</p>
  </div>

  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/shlee_photo.jpg"
         alt="Sihyeon Lee"
         style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"
         class="d-block mx-auto mb-3">

    <h5 style="font-size: 1.25rem; font-weight: 600;">
      Sihyeon Lee
      <a href="mailto:sihyeon78945@gmail.com"
         style="margin-left: 8px; color: #007bff;"
         title="Send Email">
        <i class="fas fa-envelope"></i>
      </a>
    </h5>

    <p><strong>Research Interests:</strong> Edge NPU, System for AI</p>
  </div>

  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/master_sample.png" alt="Student" class="rounded-circle mb-3" width="150">
    <h5>Under Recruitment</h5>
    <p>Master Student</p>
  </div>
  
  <!-- Master Students -->
  <div class="col-12 mt-5">
    <h4 class="mb-4">Master Students</h4>
  </div>


  <!-- Undergraduate Researchers -->
  <div class="col-12 mt-5">
    <h4 class="mb-4">Undergraduate Students</h4>
  </div>

  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/undergraduate_sample.png" alt="Student" class="rounded-circle mb-3" width="150">
    <h5>Under Recruitment</h5>
    <p>Undergraduate Student</p>
  </div>

  <!-- Jaeyong Lee -->
  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/jylee_photo.jpeg"
         alt="Jaeyong Lee"
         style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; transform: scale(0.8);"
         class="d-block mx-auto mb-3">

    <h5 style="font-size: 1.25rem; font-weight: 600;">
      Jaeyong Lee
      <a href="mailto:wodydy0507@korea.ac.kr "
         style="margin-left: 8px; color: #007bff;"
         title="Send Email">
        <i class="fas fa-envelope"></i>
      </a>
    </h5>
    <p><strong>Research Interests:</strong> Edge Computing, AI Systems, Adaptable Robotics </p>
  </div>

  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/swwoo_photo.jpg"
         alt="Sungwon Woo"
         style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"
         class="d-block mx-auto mb-3">

    <h5 style="font-size: 1.25rem; font-weight: 600;">
      Sungwon Woo
      <a href="mailto:wkehdck753@naver.com"
         style="margin-left: 8px; color: #007bff;"
         title="Send Email">
        <i class="fas fa-envelope"></i>
      </a>
    </h5>
    <p><strong>Research Interests:</strong> Systems for AI</p>
  </div>

  
  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/yrchoi_photo.png"
         alt="Yereum Choi"
         style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"
         class="d-block mx-auto mb-3">

    <h5 style="font-size: 1.25rem; font-weight: 600;">
      Yereum Choi
      <a href="mailto:yr0955@gmail.com"
         style="margin-left: 8px; color: #007bff;"
         title="Send Email">
        <i class="fas fa-envelope"></i>
      </a>
    </h5>
    <p><strong>Research Interests:</strong> Edge AI, Systems for AI</p>
  </div>



  <div class="col-12">
    <h4 class="mb-4">Visiting Researchers</h4>
  </div>
  
  <div class="col-md-4 text-center mb-4">
    <img src="{{ site.baseurl }}/assets/images/team/hjjang_photo.jpeg"
         alt="Hyeonjoon Jang"
         style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"
         class="d-block mx-auto mb-3">

    <h5 style="font-size: 1.25rem; font-weight: 600;">
      Hyeonjoon Jang (Ph.D. at KAIST EE, 2025)
      <a href="mailto:sihyeon78945@gmail.com"
         style="margin-left: 8px; color: #007bff;"
         title="Send Email">
        <i class="fas fa-envelope"></i>
      </a>
    </h5>
    <p><strong>Research Interests:</strong> Volumetric Video Streaming</p>
  </div>
</div> 
