<section id="people" class="section">
  <div class="container">
    <h2 class="section-title">People</h2>

    <div class="row">

      <!-- 교수님 -->
      <div class="col-md-12 text-center my-4">
        <img src="{{ site.baseurl }}/assets/images/seyeonkim.jpg"
             alt="Professor"
             class="img-fluid rounded-circle d-block mx-auto mb-3"
             style="max-width: 150px; width: 100%;">
        <h4>Prof. Seyeon Kim</h4>
        <p>Assistant Professor, Korea University</p>
        <p>Email: seyeon625@korea.ac.kr</p>
      </div>

    </div>
  </div>
</section>
