<section id="people" class="section">
  <div class="container">
    <h2 class="section-title">People</h2>

    <div class="row">

      <!-- 교수님 -->
      <div class="col-md-12 text-center mb-5">
        <img src="{{ site.baseurl }}/assets/images/seyeonkim.jpg"
     alt="Professor"
     class="img-fluid rounded-circle d-block mx-auto mb-3"
     width="150">
<!--         <img src="{{ site.baseurl }}/assets/images/seyeonkim.jpg" alt="Professor" class="rounded-circle mb-3" width="150"> -->
        <h4>Prof. [Seyeon Kim</h4>
        <p>Assistant Professor, Korea University</p>
        <p>Email: seyeon625@korea.ac.kr</p>
      </div>

      <!-- 대학원생 리스트 -->
<!--       <div class="col-md-4 text-center mb-4">
        <img src="{{ site.baseurl }}/assets/images/student1.jpg" alt="Student1" class="rounded-circle mb-2" width="100">
        <h5>Kim Jihyun</h5>
        <p>Ph.D. Student</p>
      </div>

      <div class="col-md-4 text-center mb-4">
        <img src="{{ site.baseurl }}/assets/images/student2.jpg" alt="Student2" class="rounded-circle mb-2" width="100">
        <h5>Lee Minjae</h5>
        <p>M.S. Student</p>
      </div>

      <div class="col-md-4 text-center mb-4">
        <img src="{{ site.baseurl }}/assets/images/student3.jpg" alt="Student3" class="rounded-circle mb-2" width="100">
        <h5>Park Sohyun</h5>
        <p>Undergraduate Researcher</p>
      </div>
 -->
    </div>
  </div>
</section>
