.bg-ku-crimson { background-color: #A6192E; }

.page-title-alt { padding-top: 3.5rem; padding-bottom: 3.5rem; }

.bg-shape-1, .bg-shape-2, .bg-shape-3,
.bg-shape-4, .bg-shape-5, .bg-shape-6 {
  display: none !important;
}
