$ku-crimson: #A6192E;

.bg-ku-crimson {
  background-color: $ku-crimson !important;
}

.page-title,
.page-title-alt {
  background-image: none !important;
  background-color: $ku-crimson !important;
}

.page-title-alt {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
